body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:50px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:13px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:355px;
  height:13px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:357px;
  height:181px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:144px;
  width:346px;
  height:170px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:159px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:149px;
  width:125px;
  height:159px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:128px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:163px;
  width:166px;
  height:127px;
  line-height:28px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
