body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:13px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:359px;
  height:13px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:97px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:57px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:140px;
  width:313px;
  height:56px;
  color:#666666;
  line-height:28px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:97px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:221px;
  width:18px;
  height:18px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:5px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:358px;
  height:4px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:245px;
  width:359px;
  height:1px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:223px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:285px;
  width:1px;
  height:23px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:267px;
  width:17px;
  height:19px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:309px;
  width:17px;
  height:19px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:269px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:311px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:579px;
  width:359px;
  height:40px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  word-wrap:break-word;
}
