body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:114px;
  width:71px;
  height:20px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:170px;
  width:178px;
  height:16px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1677_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:150px;
  width:178px;
  height:16px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1679_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:190px;
  width:178px;
  height:16px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1681_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:161px;
  height:43px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:294px;
  width:150px;
  height:32px;
}
#u1683_img.mouseOver {
}
#u1683.mouseOver {
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:213px;
  width:178px;
  height:16px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1685_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
  overflow:hidden;
  visibility:hidden;
}
#u1687_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1687_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:57px;
  top:176px;
  visibility:hidden;
}
#u1690_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:231px;
  height:128px;
  background-image:none;
}
#u1690_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:128px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:127px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:18px;
  width:29px;
  height:16px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:54px;
  width:113px;
  height:16px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:87px;
  width:85px;
  height:28px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u1699 {
  position:absolute;
  left:57px;
  top:208px;
  visibility:hidden;
}
#u1699_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:231px;
  height:128px;
  background-image:none;
}
#u1699_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:128px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:127px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:18px;
  width:29px;
  height:16px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:54px;
  width:71px;
  height:16px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:87px;
  width:85px;
  height:28px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
