body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:761px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:760px;
  line-height:20px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:99px;
  width:347px;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:39px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:721px;
  width:360px;
  height:38px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  word-wrap:break-word;
}
