body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:668px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:123px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:86px;
  width:103px;
  height:123px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:17px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:106px;
  width:243px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:137px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:17px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:209px;
  width:356px;
  height:17px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:380px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:236px;
  width:348px;
  height:380px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:42px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:626px;
  width:357px;
  height:41px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:165px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
