body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:668px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:111px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:91px;
  width:103px;
  height:111px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:17px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:106px;
  width:243px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:137px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:17px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:209px;
  width:356px;
  height:17px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:354px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:226px;
  width:348px;
  height:354px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:169px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:41px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:626px;
  width:357px;
  height:40px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:166px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
