body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:113px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:355px;
  height:112px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:111px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:86px;
  width:107px;
  height:111px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:17px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:102px;
  width:243px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:130px;
  width:113px;
  height:16px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:155px;
  width:209px;
  height:16px;
  color:#000000;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:200px;
  width:356px;
  height:1px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:113px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:204px;
  width:355px;
  height:112px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:17px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:218px;
  width:243px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:249px;
  width:127px;
  height:16px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:320px;
  width:356px;
  height:1px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:111px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:205px;
  width:107px;
  height:111px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:275px;
  width:209px;
  height:16px;
  color:#000000;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
