body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:533px;
  width:325px;
  height:48px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:545px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#92908B;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:547px;
  width:14px;
  height:20px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:360px;
  height:58px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:699px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:642px;
  width:353px;
  height:49px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:59px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:641px;
  width:1px;
  height:58px;
  color:#FF0000;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:655px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#878681;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
