body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:65px;
  width:333px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:578px;
  width:140px;
  height:40px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:578px;
  width:148px;
  height:40px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:472px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:472px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:633px;
  overflow:hidden;
  visibility:hidden;
}
#u415_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:633px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u415_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:69px;
  top:236px;
  visibility:hidden;
}
#u418_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
  background-image:none;
}
#u418_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:161px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:243px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:27px;
  width:29px;
  height:16px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:91px;
  height:33px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
