body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:89px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:394px;
  width:351px;
  height:88px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:40px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:405px;
  width:335px;
  height:39px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:155px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:233px;
  width:352px;
  height:154px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:56px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:317px;
  width:285px;
  height:55px;
  line-height:28px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:255px;
  width:69px;
  height:18px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:282px;
  width:27px;
  height:26px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:288px;
  width:1px;
  height:16px;
  color:#FF0000;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:287px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:565px;
  width:117px;
  height:40px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:565px;
  width:113px;
  height:40px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:146px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:360px;
  height:146px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:195px;
  width:175px;
  height:27px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:198px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
