body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:89px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:394px;
  width:351px;
  height:88px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:40px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:405px;
  width:335px;
  height:39px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:155px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:233px;
  width:352px;
  height:154px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:56px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:317px;
  width:285px;
  height:55px;
  line-height:28px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:255px;
  width:69px;
  height:18px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:282px;
  width:27px;
  height:26px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:288px;
  width:1px;
  height:16px;
  color:#FF0000;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:287px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:565px;
  width:117px;
  height:40px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:565px;
  width:113px;
  height:40px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:146px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:360px;
  height:146px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
