body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:1966px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1965px;
  line-height:20px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:330px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1924px;
  width:148px;
  height:40px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:22px;
  top:1925px;
}
#u171_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  background-image:none;
}
#u171_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u172_img.mouseOver {
}
#u172.mouseOver {
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u171_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u171_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
