body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:480px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:480px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:41px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:600px;
  width:358px;
  height:40px;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
