body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:101px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:112px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:125px;
  width:298px;
  height:111px;
  color:#000000;
  line-height:28px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:5px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:358px;
  height:4px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:282px;
  width:359px;
  height:1px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:260px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:322px;
  width:1px;
  height:23px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:304px;
  width:17px;
  height:19px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:346px;
  width:17px;
  height:19px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:306px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:348px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:366px;
  width:1px;
  height:23px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:390px;
  width:17px;
  height:19px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:393px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:410px;
  width:1px;
  height:23px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:434px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:453px;
  width:1px;
  height:23px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:476px;
  width:17px;
  height:19px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:477px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:433px;
  width:17px;
  height:19px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:495px;
  width:1px;
  height:23px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:518px;
  width:17px;
  height:19px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:519px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:580px;
  width:359px;
  height:40px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  word-wrap:break-word;
}
