body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:101px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:112px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:125px;
  width:298px;
  height:111px;
  color:#000000;
  line-height:28px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:5px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:358px;
  height:4px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:282px;
  width:359px;
  height:1px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:260px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:322px;
  width:1px;
  height:23px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:304px;
  width:17px;
  height:19px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:346px;
  width:17px;
  height:19px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:306px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:348px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:366px;
  width:1px;
  height:23px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:390px;
  width:17px;
  height:19px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:393px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:410px;
  width:1px;
  height:23px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:434px;
  width:142px;
  height:15px;
  font-size:12px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:453px;
  width:1px;
  height:23px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:476px;
  width:17px;
  height:19px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:477px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:433px;
  width:17px;
  height:19px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:495px;
  width:1px;
  height:23px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:518px;
  width:17px;
  height:19px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:519px;
  width:251px;
  height:15px;
  font-size:12px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:580px;
  width:359px;
  height:40px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  word-wrap:break-word;
}
