body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:668px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:123px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:88px;
  width:103px;
  height:123px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:17px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:105px;
  width:243px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:137px;
  width:167px;
  height:15px;
  font-size:12px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:17px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:209px;
  width:356px;
  height:17px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:380px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:236px;
  width:348px;
  height:380px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:42px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:625px;
  width:357px;
  height:41px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:165px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:365px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:223px;
  width:348px;
  height:365px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:262px;
  width:82px;
  height:23px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:265px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:368px;
  width:100px;
  height:23px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:371px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:570px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:599px;
  width:57px;
  height:16px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
