body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2233px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2232px;
  line-height:20px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:96px;
  width:333px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:2188px;
  width:148px;
  height:40px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:2123px;
  width:308px;
  height:16px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u662_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u664 {
  position:absolute;
  left:29px;
  top:2188px;
}
#u664_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  background-image:none;
}
#u664_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u665_img.mouseOver {
}
#u665.mouseOver {
}
#u666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u664_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u664_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
