body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:6097px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:6096px;
  line-height:20px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:278px;
  width:333px;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:23px;
  top:6030px;
}
#u872_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  background-image:none;
}
#u872_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u873_img.mouseOver {
}
#u873.mouseOver {
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u872_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u872_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:6030px;
  width:148px;
  height:40px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:5986px;
  width:308px;
  height:16px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u879_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
