body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:50px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:13px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:358px;
  height:13px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:357px;
  height:181px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:144px;
  width:346px;
  height:170px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:159px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:149px;
  width:125px;
  height:159px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:95px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:159px;
  width:166px;
  height:94px;
  line-height:28px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:276px;
  width:106px;
  height:28px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:46px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:330px;
  width:325px;
  height:45px;
  color:#AEAEAE;
  line-height:20px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
