body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:1804px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:1803px;
  line-height:20px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:328px;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1843px;
  width:148px;
  height:40px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1293 {
  position:absolute;
  left:22px;
  top:1844px;
}
#u1293_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  background-image:none;
}
#u1293_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1294_img.mouseOver {
}
#u1294.mouseOver {
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1293_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u1293_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
