body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:533px;
  width:325px;
  height:48px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:545px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#92908B;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:547px;
  width:14px;
  height:20px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:360px;
  height:58px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:699px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:642px;
  width:353px;
  height:49px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:59px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:641px;
  width:1px;
  height:58px;
  color:#FF0000;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:655px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#878681;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
