body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:533px;
  width:325px;
  height:48px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:545px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#92908B;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:547px;
  width:14px;
  height:20px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:360px;
  height:58px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:699px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:642px;
  width:353px;
  height:49px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:59px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:641px;
  width:1px;
  height:58px;
  color:#FF0000;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:655px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#878681;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
