body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:631px;
  width:117px;
  height:40px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:213px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:220px;
  width:352px;
  height:212px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:304px;
  width:342px;
  height:26px;
  line-height:28px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:242px;
  width:69px;
  height:18px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:275px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:370px;
  width:309px;
  height:40px;
  line-height:20px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:335px;
  width:273px;
  height:30px;
  line-height:28px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:272px;
  width:24px;
  height:21px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:631px;
  width:117px;
  height:40px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:119px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:495px;
  width:314px;
  height:118px;
  line-height:28px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:462px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:131px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:360px;
  height:131px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
