body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:631px;
  width:117px;
  height:40px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:213px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:220px;
  width:352px;
  height:212px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:304px;
  width:342px;
  height:26px;
  line-height:28px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:242px;
  width:69px;
  height:18px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:275px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:370px;
  width:309px;
  height:40px;
  line-height:20px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:335px;
  width:273px;
  height:30px;
  line-height:28px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:272px;
  width:24px;
  height:21px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:631px;
  width:117px;
  height:40px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:119px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:495px;
  width:314px;
  height:118px;
  line-height:28px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:462px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:131px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:360px;
  height:131px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
