body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:631px;
  width:117px;
  height:40px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:213px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:220px;
  width:352px;
  height:212px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:304px;
  width:342px;
  height:26px;
  line-height:28px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:242px;
  width:69px;
  height:18px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:275px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:370px;
  width:309px;
  height:40px;
  line-height:20px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:31px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:335px;
  width:273px;
  height:30px;
  line-height:28px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:272px;
  width:24px;
  height:21px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:631px;
  width:117px;
  height:40px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:119px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:495px;
  width:314px;
  height:118px;
  line-height:28px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:462px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:131px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:360px;
  height:131px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:183px;
  width:175px;
  height:27px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:186px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
