body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:533px;
  width:325px;
  height:48px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:545px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#92908B;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:547px;
  width:14px;
  height:20px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:360px;
  height:58px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:699px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:642px;
  width:353px;
  height:49px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:59px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:641px;
  width:1px;
  height:58px;
  color:#FF0000;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:655px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#878681;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
