body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:277px;
  width:308px;
  height:39px;
  opacity:0;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:277px;
  width:308px;
  height:39px;
  opacity:0;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:146px;
  width:266px;
  height:24px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:188px;
  width:266px;
  height:24px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:235px;
  width:187px;
  height:24px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:97px;
  width:106px;
  height:39px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:144px;
  width:266px;
  height:25px;
}
#u1128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:188px;
  width:266px;
  height:25px;
}
#u1129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:234px;
  width:187px;
  height:25px;
}
#u1130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
