body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:277px;
  width:308px;
  height:39px;
  opacity:0;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:555px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:277px;
  width:308px;
  height:39px;
  opacity:0;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:146px;
  width:266px;
  height:24px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:188px;
  width:266px;
  height:24px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:25px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:235px;
  width:187px;
  height:24px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:97px;
  width:106px;
  height:39px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:144px;
  width:266px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:188px;
  width:266px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:234px;
  width:187px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
