body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:65px;
  width:333px;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:564px;
  width:140px;
  height:40px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:564px;
  width:148px;
  height:40px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:104px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:152px;
  width:309px;
  height:103px;
  line-height:28px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:107px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:605px;
  overflow:hidden;
  visibility:hidden;
}
#u1094_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1094_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:607px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:606px;
  opacity:0.5;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097 {
  position:absolute;
  left:47px;
  top:158px;
  visibility:hidden;
}
#u1097_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
  background-image:none;
}
#u1097_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:161px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:243px;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:27px;
  width:29px;
  height:16px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:91px;
  height:33px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
