body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:65px;
  width:333px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:564px;
  width:140px;
  height:40px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:564px;
  width:148px;
  height:40px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:104px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:152px;
  width:323px;
  height:103px;
  line-height:28px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:107px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:361px;
  height:605px;
  overflow:hidden;
  visibility:hidden;
}
#u1147_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:605px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1147_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:607px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:606px;
  opacity:0.5;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150 {
  position:absolute;
  left:61px;
  top:151px;
  visibility:hidden;
}
#u1150_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
  background-image:none;
}
#u1150_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:161px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:243px;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:27px;
  width:29px;
  height:16px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:91px;
  height:33px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
