body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:333px;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:598px;
  width:140px;
  height:40px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:598px;
  width:148px;
  height:40px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:338px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:338px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:161px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
  overflow:hidden;
  visibility:hidden;
}
#u553_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u553_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556 {
  position:absolute;
  left:69px;
  top:246px;
  visibility:hidden;
}
#u556_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
  background-image:none;
}
#u556_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:161px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:243px;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:27px;
  width:29px;
  height:16px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:91px;
  height:33px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
