body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:333px;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:41px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:599px;
  width:357px;
  height:40px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:140px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:229px;
  width:352px;
  height:139px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:57px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:300px;
  width:294px;
  height:56px;
  font-size:13px;
  line-height:28px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:272px;
  width:22px;
  height:22px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:275px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:84px;
  width:360px;
  height:138px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:110px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:377px;
  width:351px;
  height:109px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:97px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:391px;
  width:335px;
  height:96px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:237px;
  width:113px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:19px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:197px;
  width:175px;
  height:18px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
