body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:333px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:41px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:599px;
  width:357px;
  height:40px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:140px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:229px;
  width:352px;
  height:139px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:57px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:300px;
  width:294px;
  height:56px;
  font-size:13px;
  line-height:28px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:272px;
  width:22px;
  height:22px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:275px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:138px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:84px;
  width:360px;
  height:138px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:89px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:377px;
  width:351px;
  height:88px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:78px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:388px;
  width:335px;
  height:77px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:237px;
  width:113px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:19px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:197px;
  width:175px;
  height:18px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
