body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:114px;
  width:71px;
  height:20px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:170px;
  width:178px;
  height:16px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u946_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:150px;
  width:178px;
  height:16px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u948_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:190px;
  width:178px;
  height:16px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u950_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:43px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:265px;
  width:131px;
  height:32px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:213px;
  width:178px;
  height:16px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u954_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
  overflow:hidden;
  visibility:hidden;
}
#u956_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u956_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  position:absolute;
  left:58px;
  top:235px;
  visibility:hidden;
}
#u959_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:231px;
  height:128px;
  background-image:none;
}
#u959_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:128px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:127px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:18px;
  width:29px;
  height:16px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:54px;
  width:113px;
  height:16px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:87px;
  width:85px;
  height:28px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
