body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:623px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:622px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:20px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:66px;
  width:333px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:582px;
  width:140px;
  height:40px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:41px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:582px;
  width:148px;
  height:40px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:86px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:360px;
  height:144px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:350px;
  width:225px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:186px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:401px;
  width:314px;
  height:185px;
  line-height:28px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:194px;
  width:175px;
  height:27px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:89px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:231px;
  width:352px;
  height:88px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:287px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:283px;
  width:26px;
  height:26px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:250px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:361px;
  height:623px;
  overflow:hidden;
  visibility:hidden;
}
#u912_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:623px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u912_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:775px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:774px;
  opacity:0.5;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:379px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:209px;
  width:247px;
  height:162px;
  overflow:hidden;
  visibility:hidden;
}
#u915_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u915_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:162px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:161px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:243px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:27px;
  width:29px;
  height:16px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:107px;
  width:91px;
  height:33px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
