body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:49px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:533px;
  width:325px;
  height:48px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:545px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#92908B;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:547px;
  width:14px;
  height:20px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:59px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:641px;
  width:360px;
  height:58px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:699px;
  width:360px;
  height:2px;
  color:#FFFFFF;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:49px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:642px;
  width:353px;
  height:49px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:59px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:641px;
  width:1px;
  height:58px;
  color:#FF0000;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:652px;
  width:67px;
  height:28px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:655px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#878681;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
